<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StickyNotes</name>
    <description>Welcome to Your Ultimate Notes Manager</description>
    <author email="hoangson091104@gmail.com" href="https://hoangsonww.github.io/My-Portfolio-Website/">
        David Nguyen
    </author>
    <platform name="ios">
        <!-- iOS icons -->
        <icon src="www/icons/StickyNotesAppiOSIcon.png" width="180" height="180"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="deployment-target" value="17.0" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <platform name="android">
        <!-- Android icons -->
        <icon src="www/icons/StickyNotesAppAndroidIcon.png" density="xxxhdpi"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <content src="index.html" />
    <allow-intent href="https://*/*" />
</widget>
